{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block title %}
    NEW PRODUCT</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}"/>
{% endblock %}
{% block content %}
<header class="site-header">
   <nav class="navbar navbar-expand-md navbar-dark bg-steel fixed-top">
    <div class="container">
        <h1> NEW PRODUCT </h1>
    </div>
   </nav>
</header>
<div class="container">
<div class="row">
<div class="col-md">

 <form method="post" action=""  enctype="multipart/form-data">
  {{ form.csrf_token() }}
   {{ wtf.form_field(form.name, class='form-control') }}
    <p></p>
     {{ wtf.form_field(form.brand, class='form-control') }}
    <p></p>
     {{ wtf.form_field(form.category, class='form-control') }}
     <p></p>
     {{ wtf.form_field(form.price, class='form-control') }}
     <p></p>
     {{ wtf.form_field(form.image, class='form-control') }}


   <input type=submit value ='Add'  class='btn btn-warning btn-block'>

</form>
</div>


</div>
</div>

{% endblock %}