{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block title %}
    Products</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}"/>
{% endblock %}

{% block content %}
<header class="site-header">
   <nav class="navbar navbar-expand-md navbar-dark bg-steel fixed-top">
    <div class="container">
        <h1> Products</h1>
    </div>
   </nav>
</header>
<div class="container">
<div class="row">
<div class="col-md">
<table border="5">
    {% for product in products %}
        {% if loop.index is divisibleby 2 %}
        <td>
     <div class="card" style="width: 22rem;">
  <img class="card-img-top" src="{{ products[product] }}" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">{{ product }}</h5>
    <a href="#" class="btn btn-primary">Benchmark prices</a>
  </div>
</div>
        </td>
            </tr>
        {% else %}
            <tr>
<td>
     <div class="card" style="width: 22rem;">
  <img class="card-img-top" src="{{ products[product] }}" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">{{ product }}</h5>
    <a href="#" class="btn btn-primary">Benchmark prices</a>
  </div>
</div>
</td>
{% endif %}
    {% endfor %}

    </table>
</div>
<div class="col-md">
<div class="content-section">
    <h3>MENU</h3>

          <div class="list-group">
             <a href="#" class="list-group-item list-group-item-action">PROFILE</a>
             <a href="#" class="list-group-item list-group-item-action">LIST</a>
             <a href="#" class="list-group-item list-group-item-action">LOGOUT</a>
          </div>

</div>
    <br>
    <form action="" method="post">
    <h3>Filters</h3>
     {{ filterForm.csrf_token() }}
     {{ wtf.form_field(filterForm.quality, class='form-control') }}
        <br>
        {{ wtf.form_field(filterForm.brand, class='form-control') }}
         <br>
    <input type=submit value ='Apply the filter'  class='btn btn-primary'>

    </form>
</div>
</div>
</div>
{% endblock %}

