{% if form1.password.errors%}
    {{ form1.password }}
      {% for error in form1.password.errors %}
        <p>{{ error }}</p>
      {% endfor %}
    {% else %}
        {{ form1.password }}

{% endif %}




<div class="card" style="width: 35rem;">
  <img class="card-img-top" src="{{ immagini[image] }}" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">{{ image }}</h5>
    <a href="#" class="btn btn-primary">Benchmark prices</a>
  </div>
</div>

[('1','1'),
                ('2', '2'),
                ('3', '3')]